In [6]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [7]:
df=pd.read_csv("titanic (1).csv")
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
583,584,0,1,"Ross, Mr. John Hugo",male,36.0,0,0,13049,40.1250,A10,C
683,684,0,3,"Goodwin, Mr. Charles Edward",male,14.0,5,2,CA 2144,46.9000,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.0,3,1,349909,21.0750,NaN,S

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
AgeNoNull=df["Age"].dropna()

In [12]:
agemed=np.median(AgeNoNull)
agemed

28.0

In [13]:
df.fillna({"Age":agemed},inplace=True)

In [14]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
df.drop(columns=['Cabin','Embarked','Name','Ticket','PassengerId'],inplace=True)

In [16]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [20]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [21]:
enconder=LabelEncoder()
enconder.fit(df['Sex'])
encodedlabels=enconder.fit_transform(df['Sex'])
df['Sex']=encodedlabels
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [24]:
scaler=StandardScaler()
Farearray=np.array(df['Fare'])
scaler.fit(Farearray.reshape(-1,1))
ScaledValues=scaler.fit_transform(Farearray.reshape(-1,1))
df['Fare']=ScaledValues
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [25]:
X=df.drop(columns='Survived')
y=df['Survived']

In [26]:
from sklearn.tree import DecisionTreeClassifier

In [27]:
clf = DecisionTreeClassifier(criterion='entropy')  
clf.fit(X, y)


feature_importances,feature_Name = clf.feature_importances_,clf.feature_names_in_

for feature, importance in zip(feature_Name,feature_importances):
    print(f'Feature: {feature}, Information Gain: {importance}')

Feature: Pclass, Information Gain: 0.08444170559830246
Feature: Sex, Information Gain: 0.23919357626908525
Feature: Age, Information Gain: 0.2788491798257578
Feature: SibSp, Information Gain: 0.024727161106866718
Feature: Parch, Information Gain: 0.029721508976321812
Feature: Fare, Information Gain: 0.3430668682236661

In [28]:
features=df.drop(columns=['Parch','SibSp','Pclass','Survived'])
traget=df['Survived']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(features,traget,test_size=0.2,shuffle=True,random_state=0)

In [72]:
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix

# DecisionTreeClassifier

In [85]:
y_predict=clf.predict(x_test)
print(accuracy_score(y_pred=y_predict,y_true=y_test))
print(f1_score(y_true=y_test,y_pred=y_predict))
confusion_matrix(y_true=y_test,y_pred=y_predict)

0.9832402234636871
0.9781021897810219

array([[109,   1],
       [  2,  67]], dtype=int64)

In [75]:
features.head()

   Sex   Age      Fare
0    1  22.0 -0.502445
1    0  38.0  0.786845
2    0  26.0 -0.488854
3    0  35.0  0.420730
4    1  35.0 -0.486337

In [76]:
traget.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

# SVM

In [77]:
from sklearn.svm import SVC

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
SVMclf=SVC(C=10,kernel='rbf')

In [80]:
SVMclf.fit(x_train,y_train)

SVC(C=10)

In [81]:
y_predict=SVMclf.predict(x_test)

In [82]:
accuracy_score(y_pred=y_predict,y_true=y_test)

0.7932960893854749

In [83]:
f1_score(y_true=y_test,y_pred=y_predict)

0.7299270072992701

In [84]:
confusion_matrix(y_true=y_test,y_pred=y_predict)

array([[92, 18],
       [19, 50]], dtype=int64)